h5py
natsort
numexpr
numpy<2.0.0
pandas
psutil
pyautogui
python-xlib; sys_platform=="linux"
pytest
pytest-cov
canmatrix[arxml,dbc]>=1.0
lz4
typing_extensions
PySide6==6.7.3
pyqtgraph
python-dateutil
isal; platform_machine == "x86_64" or platform_machine == "AMD64"
