natsort
numexpr
numpy>=1.23.0
pandas
psutil
pytest
pytest-cov
canmatrix[arxml,dbc]>=0.8
lz4
typing_extensions
PySide6==6.2.2
pyqtgraph==0.12.4; sys_platform=="win32"
pyqtgraph==0.12.4; sys_platform=="darwin"
pyqtgraph==0.12.4; sys_platform=="linux"
python-dateutil
isal; platform_machine == "x86_64" or platform_machine == "AMD64"
