canmatrix[arxml,dbc]>=1.0
lz4
numexpr
numpy>=1.23.0,<2.0.0
pandas
typing_extensions
isal; platform_machine == "x86_64" or platform_machine == "AMD64"
lxml==4.9.3
natsort 
psutil 
PySide6==6.6.0
pyqtgraph==0.13.3
QtPy==2.3.1
pyqtlet2
pyopengl
h5py 
fastparquet 
hdf5storage 
snappy 
faust-cchardet==2.1.19
chardet
cryptography
keyring
pyinstaller
scipy
sympy
