canmatrix[arxml,dbc]>=0.8
lz4
numexpr
numpy>=1.23.0
pandas
typing_extensions
isal; platform_machine == "x86_64" or platform_machine == "AMD64"
lxml 
natsort 
psutil 
PySide6 
pyqtgraph>=0.12.4
pyqtlet2 
h5py 
fastparquet 
scipy
hdf5storage 
snappy 
cChardet==2.1.5 
chardet
cryptography
keyring
pyinstaller==4.10
