matplotlib
numpydoc
sphinx
sphinx-argparse
sphinx-rtd-theme
sphinxcontrib-mermaid
# canmatrix ImportError workaround
PyYAML
xlrd
XlsxWriter
xlwt
canmatrix
pandas
numexpr
numexpr3;sys_platform != 'darwin'
lz4
numpy
