name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
            pip install build wheel 
            pip install -r requirements_exe_build.txt
            python setup.py bdist_wheel
            pip install -e . --no-deps
            pip install cmerg

      - name: Build an executable
        shell: bash
        if: ${{ matrix.python-version == '3.10' }}
        run: |
            pip install build numpy==1.26.4 wheel
            pip install -r requirements_exe_build.txt
            python setup.py bdist_wheel
            pip install -e . --no-deps
            pip install cmerg
            if [ "$RUNNER_OS" == "Linux" ]; then
                 sudo apt update
                 sudo apt install libegl1 libopengl0
                 sudo apt-get install '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev
                 sudo apt-get install libxcb-xinerama0
                 sudo apt-get install libxkbcommon-x11-0
            fi
            pyinstaller asammdf.spec --distpath dist/${RUNNER_OS} --noconfirm --clean

      # see: https://docs.github.com/en/actions/advanced-guides/storing-workflow-data-as-artifacts
      - name: Archive dist artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/**
          if-no-files-found: error
